.footerContainer {
  background: #153243;
  width: 100%;
  position: relative;
  bottom: 0px;
  text-align: center;
  padding: 20px 0;
  p {
    color: white;
    width: fit-content;
    margin: auto;
  }
}