.footerContainer {
  background: rgb(192, 173, 173);
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding: 20px 0;
  p {
    background: rgb(182, 78, 78);
    width: fit-content;
    margin: auto;
  }
}