<table *ngIf="hourlyData">
  <tr>
    <td></td>
    <td><img src="assets/weatherTableHead/temperature.png" alt="temperature"></td>
    <td><img src="assets/weatherTableHead/humidity.png" alt="humidity"></td>
    <td><img src="assets/weatherTableHead/weather.png" alt="weather"></td>
    <td><img src="assets/weatherTableHead/pressure.png" alt="pressure"></td>
    <th><img src="assets/weatherTableHead/windspeed.png" alt="windspeed"></th>
  </tr>
  <tr *ngFor="let weather of hourlyData">
    <td> {{ weather.time }} </td>
    <td> {{ weather.temperature_2m }} </td>
    <td> {{ weather.relativehumidity_2m }} </td>
    <td> 
      <div [ngSwitch]="weather.weathercode">
        <img *ngSwitchCase="0" src="assets/missing-data.png" alt="Missing data">
        <img *ngSwitchCase="1" src="assets/clear.png" alt="Clear">
        <img *ngSwitchCase="2" src="assets/mostly-clear.png" alt="Mostly clear">
        <img *ngSwitchCase="3" src="assets/fog.png" alt="Fog">
        <img *ngSwitchCase="4" src="assets/drizzle.png" alt="Drizzle">
        <img *ngSwitchCase="5" src="assets/rain.png" alt="Rain">
        <img *ngSwitchCase="6" src="assets/freezing-rain.png" alt="Freezing rain">
        <img *ngSwitchCase="7" src="assets/snow-fall.png" alt="Snowfall">
        <img *ngSwitchCase="8" src="assets/snow-grains.png" alt="Snow grains">
        <img *ngSwitchCase="9" src="assets/rain-shower.png" alt="Rain shower">
        <img *ngSwitchCase="10" src="assets/snow-shower.png" alt="Snow shower">
        <img *ngSwitchCase="11" src="assets/thunder-slight.png" alt="Slight storm">
        <img *ngSwitchCase="12" src="assets/thunderstorm.png" alt="Thunderstorm">
      </div>
    </td>
    <!-- <td> {{ weather.weathercode }} </td> -->
    <td> {{ weather.surface_pressure }} </td>
    <td> {{ weather.windspeed_10m }} </td>
  </tr>
</table>


