<div class="Container">

  <form [formGroup]="profileForm" action="">
    <mat-form-field appearance="fill">
      <select 
      matNativeControl 
      required
      formControlName="degree">
        <option id="celsius" value="celsius">Celsius</option>
        <option id="fahrenheit" value="fahrenheit">Fahrenheit</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>degree</mat-label>
      <input 
      matInput 
      type="number" 
      placeholder="Simple placeholder"
      required
      formControlName="degreeValue">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>humidity</mat-label>
      <input 
      matInput 
      type="number" 
      placeholder="Simple placeholder"
      required
      formControlName="humidity">
    </mat-form-field>
    <button type="submit" class="submit" (click)="event()">ahoj</button>
  </form>
  

</div>