<div class="homePage">
  <!-- present component -->
  <app-present></app-present>

  <!-- angular material tabs -->
  <div class="homeContainer">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Forecast">
        <!-- future table component -->
        <app-future-table></app-future-table>
      </mat-tab>
      <mat-tab label="History">
        <!-- history table component -->
          <app-history-table></app-history-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

  