.homeContainer {
  background: rgb(199, 193, 193);
  width: 100%;
  min-height: 100vh;
}
// bug fixing line - 
:host ::ng-deep .mat-ripple-element {
  position: absolute;
}
mat-tab-group {
  margin: auto;
  max-width: 1200px;
}
